<div class="container">
  <nav>
    <ul>
      <li routerLink="/map">
        <strong>{{ "napovedvremena" | translate }}</strong>
      </li>
    </ul>
    <ul>
      <li>
        <button class="outline" routerLink="/map">
          {{ "mapa" | translate }}
        </button>
      </li>
      <li>
        <button class="outline" routerLink="/favorites">
          {{ "priljubljeni" | translate }}
        </button>
      </li>
      <li>
        <label>{{ "jezik" | translate }}</label>
      </li>

      <li>
        <select
          class="form-select"
          [(ngModel)]="language"
          (change)="changeLanguage()"
        >
          <option [selected]="language === 'sl'" value="sl">
            {{ "sl" | translate }}
          </option>
          <option [selected]="language === 'en'" value="en">
            {{ "en" | translate }}
          </option>
        </select>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
