.default-theme {
  color: orange;
  background-color: black;
}

.black-on-white {
  color: white;
  background-color: black;
}

.white-on-black {
  color: black;
  background-color: white;
}

.yellow-on-blue {
  color: lightyellow;
  background-color: darkblue;
}

.black-on-beige {
  color: black;
  background-color: beige;
}

.green-on-black {
  color: lightgreen;
  background-color: black;
}
