<div *ngIf="weatherForecast">
  <table role="grid">
    <thead>
      <th>{{ "dan" | translate }}</th>
      <th>{{ "najnizja" | translate }}</th>
      <th>{{ "najvisja" | translate }}</th>
      <th>{{ "veter" | translate }}</th>
      <th>{{ "dez" | translate }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let day of weatherForecast">
        <td>{{ day.date }}</td>
        <td>{{ day.lowestDailyTemperature }} °C</td>
        <td>{{ day.highestDailyTemperature }} °C</td>
        <td>{{ day.averageWindSpeed }} m/s</td>
        <td>{{ day.averagePrecipitationProbability * 100 }} %</td>
      </tr>
    </tbody>
  </table>
</div>
