<div class="grid">
  <h3>{{ this.name }}</h3>
  <button (click)="showCurrent()">{{ "trenutno" | translate }}</button>
  <button (click)="showForecast()">{{ "napoved" | translate }}</button>
  <button (click)="toggleFavorite()">
    {{
      isFavorite
        ? ("dodajpriljubljen" | translate)
        : ("odstranipriljubljen" | translate)
    }}
  </button>
</div>

<app-weather-forecast
  [latitude]="this.latitude"
  [longitude]="this.longitude"
  *ngIf="forecast"
>
</app-weather-forecast>

<app-weather-information
  *ngIf="!forecast"
  [latitude]="this.latitude"
  [longitude]="this.longitude"
></app-weather-information>
