<div class="grid">
  <form>
    <label for="newfavorite">
      Nova priljubljena lokacija
      <input
        type="text"
        id="newfavorite"
        name="newfavorite"
        [(ngModel)]="newFavorite"
      />
    </label>

    <button (click)="addFavorite()">Dodaj</button>
  </form>
  <div>
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Priljubljeni</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let favorite of this.favorites">
          <td>
            <button routerLink="/city" [queryParams]="{ name: this.favorite }">
              {{ this.favorite }}
            </button>
          </td>
          <td>
            <button
              class="secondary outline"
              (click)="removeFavorite(this.favorite)"
            >
              🗑️ Odstrani {{ favorite }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="removeAll()">Odstrani vse priljubljene</button>
  </div>
</div>
