<div class="grid">
  <form>
    <label for="newfavorite">
      {{ "nova" | translate }}
      <input
        type="text"
        id="newfavorite"
        name="newfavorite"
        [(ngModel)]="newFavorite"
      />
    </label>

    <button (click)="addFavorite()">{{ "dodaj_gumb" | translate }}</button>
  </form>
  <div>
    <table role="grid">
      <caption>
        {{
          "priljubljeni" | translate
        }}
      </caption>
      <tbody>
        <tr *ngFor="let favorite of this.favorites">
          <td>
            <button routerLink="/city" [queryParams]="{ name: this.favorite }">
              {{ this.favorite }}
            </button>
          </td>
          <td>
            <button
              class="secondary outline"
              (click)="removeFavorite(this.favorite)"
            >
              🗑️ {{ "odstrani_gumb" | translate }} {{ favorite }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="removeAll()">{{ "odstrani_vse" | translate }}</button>
  </div>
</div>
